html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.modal {
  visibility: hidden;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(100, 100, 100, 0.5);
  left: 0;
  top: 0;
}

.modal.active {
  visibility: visible;
}

.modal > .modal-content {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  display: flex;
  flex-direction: column;
  /* width: 95%; */
  width: fit-content;
  height: 95%;
  margin: auto;
  margin-top: 2.5vh;
  vertical-align: middle;
}

.listContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden scroll;
  direction: rtl;
}

.waypoint {
  font-size: xx-large;
}

.waypoint .arrow {
  float: left;
  width: 1.5em;
  text-align: center;
}

.waypoint .distance {
  /* float: left; */
  /* margin-inline-start: 1em; */
  font-size: medium;
}

.modal .buttons * {
  font-size: xx-large;
  float: right;
  margin-left: 0.2em;
  margin-top: 0.2em;
}

.transition {
  transition: 0.2s;
}

.field-name {
  font-weight: bold;
}

.larger {
  font-size: x-large;
}

.center {
  text-align: center;
}