html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  border: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.transition {
  transition: 0.2s;
}

.larger {
  font-size: larger;
}

.center {
  text-align: center;
}