html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  font-size: xx-large;
}

.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

div.spacer {
  font-size: medium;
}

div.spacer::before {
  content: "\00a0"; /* &nbsp; */
}

.modal {
  height: 0;
  width: 0;
  overflow: hidden;
}

.modal.active {
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}

.modal > .modal-content {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 95%;
  max-height: 95%;
  margin: auto;
  margin-top: 2.5vh;
  vertical-align: middle;
}

.listContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden scroll;
  direction: rtl;
}

.waypoint {
  font-size: xx-large;
}

.waypoint .arrow {
  float: left;
  width: 1.5em;
  text-align: center;
}

.waypoint .distance {
  /* float: left; */
  /* margin-inline-start: 1em; */
  font-size: medium;
}

.waypoint .kind-symbol {
  font-size: 70%;
  margin-inline: 0.2em;
  vertical-align: baseline;
}

.modal .buttons * {
  font-size: xx-large;
  float: right;
  margin-left: 0.2em;
  margin-top: 0.2em;
}

.transition {
  transition: 0.2s;
}

.data-field {
  text-align: center;
  border-radius: 0.2em;
  background-color: lightgray;
  min-width: 2.5em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.field-name {
  font-weight: bold;
  font-size: medium;
}

.center {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-around;
  word-wrap: break-word;
}

.hide {
  display: none;
}

.unit {
  font-size: 70%;
}

#settingsBtn {
  font-size: large;
  position: absolute;
  width: fit-content;
  top: 0;
  right: 0;
  margin: .5em;
  padding: .5em;
}

.modal-title {
  text-decoration: underline;
}